ion-content {
  --background: #111827;
  --color: white;
}

ion-header {
  --background: #111827;
}

ion-toolbar {
  --background: #111827;
  --color: white;
}

ion-title {
  --color: white;
}

// Style any settings items/lists
ion-item {
  --background: #1F2937;
  --color: white;
  --border-color: #374151;
}

ion-list {
  --background: #111827;
}