ion-icon {
    color: white;
}

.person-detection-count {
    background-color: rgba(255, 255, 255, 0.142);
    color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.start-mission-container ion-button {
    font-weight: bold;
    text-transform: none !important;
    background-color: #16A34A !important;
}


.end-mission-button {
    font-weight: bold;
    text-transform: none !important;
}