ion-content {
  --background: #111827;
  --color: white;

  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0;
}

.victim-counts {
    height: 10vh;
    border: 2px solid #4C545F; 
    border-left: none;
    border-right: none;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px; 
    text-align: center;
    padding: 0 16px;

    background-color: #1F2937;
    --ion-background-color: #1F2937;
  
    .victim-header {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      color: white;
      width: 80%;
  
      ion-icon {
        font-size: 20px;
        color: white;
      }
  
      span {
        color: white;
      }
    }
  
    .victim-status {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: #74FF78; 
      width: 80%;
    }
  }

ion-header {
  --background: #111827;
}

ion-toolbar {
  --background: #111827;
  --color: white;
}

ion-title {
  --color: white;
}