<!-- <div class="info-container">
  <div class="victim-info">
    <div class="victim-id">
      <span class="victim-label">Victim #1234</span>
      <div class="status-badge">STABLE</div>
    </div>
  </div>
</div> -->

<ion-card class="victim-card">
  <ion-card-content>
    <div class="card-header">
      <span class="victim-id">Victim ID: {{ victim.person_id }}</span>
      <span class="status-badge stable">{{ victim.condition }}</span>
    </div>
    
    <div class="status-row">
      <ion-icon name="body-outline" class="status-icon"></ion-icon>
      <span class="pulse-status">{{victim.movement_category}}</span>
    </div>
    
    <div class="status-row">
      <ion-icon name="pulse-outline" class="status-icon"></ion-icon>
      <span class="pulse-status">
        Lying down
      </span>
    </div>
    
    <div class="status-row">
      <ion-icon name="location-outline" class="status-icon"></ion-icon>
      <span class="coordinates">{{victim.estimated_longitude}}, {{victim.estimated_latitude}}</span>
    </div>
    
    <div class="detection-info">
      <span class="detection-time">Detected: {{detection.timestamp | date:'medium'}}</span>
    </div>
    
    <div class="progress-section">
      <ion-progress-bar value="{{victim.person_recognition_confidence}}" class="confidence-bar"></ion-progress-bar>
      <span class="confidence-text">Person Detection Confidence: {{ victim.person_recognition_confidence * 100 | number: '1.0-0' }}%</span>
    </div>
  </ion-card-content>
</ion-card>
