ion-tabs {
  --background: #111827;
}

ion-tab-bar {
  --background: #1F2937;
  --color: #9CA3AF;
  --color-selected: white;
  border-top: 1px solid #374151;
}

ion-tab-button {
  --color: #9CA3AF;
  --color-selected: white;
}