<div class="stream-container">
    <div class="stream-wrapper">
      <img 
        [src]="currentImageUrl" 
        (error)="onImageError()" 
        (load)="onImageLoad()"
        class="stream-image" 
        alt="Live stream" />
      
      <div class="stream-status" [class.streaming]="isStreaming">
        <ion-icon [name]="isStreaming ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
        {{ isStreaming ? 'Live' : 'Stopped' }}
      </div>
    </div>

  
  <ion-button class="px-3" fill="solid" (click)="captureDetection()">
    <ion-icon slot="start" name="play-outline"></ion-icon> 
    Capture Detection
  </ion-button>
  
    
    <!-- <div class="stream-controls">
      <ion-button 
        (click)="toggleStream()" 
        [color]="isStreaming ? 'danger' : 'success'"
        fill="solid">
        <ion-icon [name]="isStreaming ? 'stop' : 'play'" slot="start"></ion-icon>
        {{ isStreaming ? 'Stop Stream' : 'Start Stream' }}
      </ion-button>
    </div> -->

    <!-- <div>
      <h1>Current Mission id: {{currentMission.id}}</h1>
      <h1>Victim Count: {{victimsRes.length}}</h1>
    </div> -->
  </div>